include AUTHORS.rst
include CHANGELOG.rst
include COPYING.rst
include INSTALL.rst
include README.rst
include TODO.rst
recursive-include docs *
recursive-include examples *
exclude textteaser/tests/apikey.py
prune docs/_build
